*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;   
}
body{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: radial-gradient(white,rgb(184, 180, 180));
}
.head{
    margin: 5% 0;
    border: 3px dotted #FFFF00;
}
.headSub{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.headResult{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.score{
    font-size: 100px;
    font-weight: bold;
    display: inline-block;
}
.th{
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
}
.explaneSub{
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
    margin: 3% 0;
}
.public{
    border: 3px solid black;
    width: 470px;
    background: radial-gradient(rgb(238, 238, 199),pink);
}
h2{
    font-size: 40px;
    margin: 3% 0;
}
.line{
    width: 470px;
    height: 3px;
    border-bottom: 5px dotted black;
    margin-top: 3%;
}
.answer{
    font-size: 20px;
    font-weight: bold;
}
.explane{
    margin: 0 20px;
}
.O{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 20px solid blue;
    margin: 7% 0;
}
.X{
    position: relative;
    left: 50%;
    transform: translate(-35%, 35%);
    width: 300px;
    height: 200px;
}
.X1, .X2{
    width: 200px;
    height: 30px;
    background-color: red;
}
.x1{
    position: relative;
    left: 5%;
    transform: rotate(45deg);
}
.X2{
    position: relative;
    top: -12%;
    left: 6%;
    transform: rotate(-45deg);
}
.correct0{
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translateX(-50%);
    height: 200px;
}
.correct1{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    height: 200px;
}
.correct2{
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translateX(-50%);
    height: 200px;
}
.correct3{
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    height: 200px;
}
.correct4{
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translateX(-50%);
    height: 200px;
}
.wrong0{
    position: absolute;
    left: 55%;
    top: 11%;
    transform: translateX(-50%);
    height: 100px;
}
.wrong1{
    position: absolute;
    left: 55%;
    top: 30%;
    transform: translateX(-50%);
    height: 100px;
}
.wrong2{
    position: absolute;
    left: 55%;
    top: 49%;
    transform: translateX(-50%);
    height: 100px;
}
.wrong3{
    position: absolute;
    left: 55%;
    top: 65%;
    transform: translateX(-50%);
    height: 100px;
}
.wrong4{
    position: absolute;
    left: 55%;
    top: 82%;
    transform: translateX(-50%);
    height: 100px;
}